*{
    box-sizing: border-box;
    position: relative;
}

html,body{
    font-family: sans-serif;
    user-select: none;
    margin: 0px;
}

h1,h2,h3,h4,h5,p{
    margin: 0px;
    user-select: none;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background-color: #8D5524;
    color: #ffdd84;
}




  